<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>대형마트 키오스크</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <div class="header">
        <h1>대형마트 키오스크</h1>
        <p>Wed 03rd March</p>
        <p>2:19 PM</p>
    </div>
    <img alt="Storefront" src="../../static/images/apartment.jpg" class="storefront">
    <a href="#" class="button login">로그인</a>
    <a href="#" class="button register">회원가입</a>
    <div class="barcode-container">
        <img alt="Barcode" src="/placeholder.svg" class="barcode">
    </div>
</div>
<script src="script.js"></script>
</body>
</html>