<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서비스 선택 화면</title>
    <link rel="stylesheet" href="/css/MainUse.css">
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

</head>
<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<body>
<div class="login-container">
    <header>
        <div class="header-content">
            <h1>서비스 선택 화면</h1>
            <div class="header-buttons">
                <button onclick="location.href='/'" title="홈 화면 이동"><img src="/images/home-icon.png" alt="Home"/></button>
                <button type="button" id="logoutButton"><img src="/images/logout-icon.png" alt="Logout"></button>
            </div>
        </div>
    </header>
    <br>

    <div class="kiosk-container">
        <div class="kiosk-card" id="card1">
            <div class="card-content">
                <div class="card-icon recycle"></div>
                <div class="card-title">스티커 발급</div>
                <button type="button" onclick="location.href='/waste'" class="long-button">신청하기</button>
            </div>
        </div>

        <div class="kiosk-card" id="card2">
            <div class="card-content">
                <div class="card-icon home"></div>
                <div class="card-title">서비스 2</div>
                <button type="button" onclick="location.href='/service2'" class="long-button">이동하기</button>
            </div>
        </div>

        <div class="kiosk-card" id="card3">
            <div class="card-content">
                <div class="card-icon home"></div>
                <div class="card-title">서비스 3</div>
                <button type="button" onclick="location.href='/service3'" class="long-button">이동하기</button>
            </div>
        </div>

        <div class="kiosk-card" id="card4">
            <div class="card-content">
                <div class="card-icon home"></div>
                <div class="card-title">서비스 4</div>
                <button type="button" onclick="location.href='/service4'" class="long-button">이동하기</button>
            </div>
        </div>

        <div class="kiosk-card" id="card5">
            <div class="card-content">
                <div class="card-icon home"></div>
                <div class="card-title">서비스 5</div>
                <button type="button" onclick="location.href='/service5'" class="long-button">이동하기</button>
            </div>
        </div>

        <div class="kiosk-card" id="card6">
            <div class="card-content">
                <div class="card-icon home"></div>
                <div class="card-title">서비스 6</div>
                <button type="button" onclick="location.href='/service6'" class="long-button">이동하기</button>
            </div>
        </div>

        <div class="kiosk-card" id="card7">
            <div class="card-content">
                <div class="card-icon home"></div>
                <div class="card-title">서비스 7</div>
                <button type="button" onclick="location.href='/service7'" class="long-button">이동하기</button>
            </div>
        </div>

        <div class="kiosk-card" id="card8">
            <div class="card-content">
                <div class="card-icon home"></div>
                <div class="card-title">서비스 8</div>
                <button type="button" onclick="location.href='/service8'" class="long-button">이동하기</button>
            </div>
        </div>


<!--        <section class="service-selection">-->
<!--            <div class="service-option" id="service-1">-->

<!--            </div>-->

<!--            &lt;!&ndash; 다른 서비스 옵션들을 추가합니다 &ndash;&gt;-->
<!--            &lt;!&ndash; 예를 들어, id="service-2", id="service-3" ... &ndash;&gt;-->
<!--        </section>-->
    </div>
    <footer>
        <!-- 푸터 내용을 추가합니다 -->
    </footer>
    <script src="/temp/logout.js"></script>
    <script src="/js/autoLogout.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        Kakao.init('7f4c34ed8e44f07b115d63e0f7a0d041');

        document.getElementById('logoutButton').addEventListener('click', function () {
            const jwtToken = localStorage.getItem('jwtToken');
            const kakaoAccessToken = localStorage.getItem('kakaoAccessToken');

            // JWT 토큰을 사용하는 경우 로컬 스토리지에서 제거하고 리디렉션
            if (jwtToken) {
                localStorage.removeItem('jwtToken');
            }

            // Kakao 로그인을 사용하는 경우
            if (kakaoAccessToken) {
                console.log(kakaoAccessToken)
                // 카카오 로그아웃 요청
                $.ajax({
                    type: "POST",
                    url: "https://kapi.kakao.com/v1/user/logout",
                    headers: {
                        "Authorization": "Bearer " + kakaoAccessToken
                    },
                    success: function (response) {
                        console.log('카카오 로그아웃 완료');
                        // 로컬 스토리지에서 카카오 액세스 토큰 제거
                        localStorage.removeItem('kakaoAccessToken');
                        // 로그아웃 후 /login 페이지로 리다이렉션
                        setTimeout(function () {
                            window.location.href = '/login';
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error('카카오 로그아웃 실패');
                        alert('로그아웃에 실패했습니다.');
                        // 실패 시에도 토큰 삭제 후 리다이렉션 처리할 수 있도록 선택 가능
                        setTimeout(function () {
                            localStorage.removeItem('kakaoAccessToken');
                            window.location.href = '/login';
                        });
                    }
                })
                ;
            } else if (!jwtToken) {
                // JWT 토큰도, 카카오 액세스 토큰도 없는 경우
                window.location.href = '/login';
            }
        });
    </script>
</div>
</body>
</html>
