<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nn세대 사용정보확인</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="kiosk-container">
    <div class="info-container">
        <div class="info-header">
            <div class="info-icon"></div>
            <div class="info-title">nn세대 사용정보확인</div>
        </div>
        <div class="info-content">
            <div class="info-item">
                <div class="item-label">날짜</div>
                <div class="item-value">XXXX년 XX월 XX일</div>
            </div>
            <div class="info-item">
                <div class="item-label">구분</div>
                <div class="item-value">수도</div>
            </div>
            <div class="info-item">
                <div class="item-label">사용량</div>
                <div class="item-value">XXX리터</div>
            </div>
            <div class="info-item">
                <div class="item-label">남은 사용량</div>
                <div class="item-value">XXX리터</div>
            </div>
            <div class="info-item">
                <div class="item-label">청구금액</div>
                <div class="item-value">XXX원</div>
            </div>
            <div class="button-container">
                <button id="btnCheckMore">자세히 보기</button>
<!--                <button id="btnNewRequest">신청하기</button>-->
            </div>
        </div>
    </div>
</div>

<div class="footer-bar">
    Wed 03rd March 2:19 PM
</div>

<script src="/js/script.js"></script>

</body>
</html>
