body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #004d40; /* 화면 배경 색상 */
}

.login-container {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}
.container{
    max-width: 600px;
    margin: 50px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #004d40;
}

.time {
    color: #777;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.keypad button {
    padding: 15px;
    font-size: 1.5rem;
    border: none;
    background: #eee;
    border-radius: 5px;
}

button[type="submit"] {
    background: #00897b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="button"] {
    background: #00897b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}